{% load static %}

{#{% static 'app/' %}#}



<!-- navigation -->
<header class="navigation bg-tertiary">
	<nav class="navbar navbar-expand-xl navbar-light text-center py-3">
		<div class="container">
			<a class="navbar-brand" href="{% url 'home' %}">
				<img loading="prelaod" decoding="async" class="img-fluid" width="160" src="{% static 'app/images/logo.png' %}" alt="Wallet">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
					<li class="nav-item"> <a class="nav-link" href="{% url 'home' %}">Home</a>
					</li>
					<li class="nav-item "> <a class="nav-link" href="{% url 'about' %}">About</a>
					</li>
					<li class="nav-item "> <a class="nav-link" href="{% url 'how_it_works' %}">How It Works</a>
					</li>
					<li class="nav-item "> <a class="nav-link" href="{% url 'services' %}">Services</a>
					</li>
					<li class="nav-item "> <a class="nav-link" href="{% url 'contacts' %}">Contact</a>
					</li>
					<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item " href="{% url 'blog' %}">Blog</a>
							</li>
							<li><a class="dropdown-item " href="{% url 'blog_details' %}">Blog Details</a>
							</li>
							<li><a class="dropdown-item " href="{% url 'services_details' %}">Service Details</a>
							</li>
							<li><a class="dropdown-item " href="{% url 'faq' %}">FAQ&#39;s</a>
							</li>
							<li><a class="dropdown-item " href="{% url 'legal' %}">Legal</a>
							</li>
							<li><a class="dropdown-item " href="{% url 't_c' %}">Terms &amp; Condition</a>
							</li>
							<li><a class="dropdown-item " href="{% url 'p_policy' %}">Privacy &amp; Policy</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- account btn --> <a href="#!" class="btn btn-outline-primary">Log In</a>
				<!-- account btn --> <a href="#!" class="btn btn-primary ms-2 ms-lg-3">Sign Up</a>
			</div>
		</div>
	</nav>
</header>
<!-- /navigation -->